<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.userinfo.mapper.LevelMapper">
    <resultMap type="com.ninehcom.userinfo.entity.Level" id="levelMap">
        <id column="Id" property="Id"/>
        <result column="Title" property="Title"/>
        <result column="Experience" property="Experience"/>
    </resultMap>
    <resultMap type="com.ninehcom.userinfo.entity.Phonelist" id="phonelistMap">
        <id column="phone" property="phone"/>
        <result column="param" property="param"/>
    </resultMap>
    <select id="selectAllLevel" resultMap="levelMap">
        SELECT
        *
        FROM
        level
        ORDER BY
        Id DESC
    </select>
    <select id="selectgroup" resultMap="phonelistMap">
        select * from phonelist
    </select>
</mapper>

